@model AllDesksQueryModel

<form method="get">
    <div class="form-group col-md-3">
        <label asp-for="SearchTerm">Търси по</label>
        <input asp-for="SearchTerm" class="form-control" placeholder="...">
    </div>
    <div class="col-md-3">
        <div class="form-group mt-4 p-2"> <input type="submit" value="Търси" class="btn btn-primary" /></div>
    </div>
</form>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Add">Create New</a>
    </p>
}


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.Desks.Count() / Model.DesksPerPage);
}


@if (Model.Desks.Count() == 0)
{
    <h3>there are no services available</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Worker First Name</th>
                <th>Worker Last Name</th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.Desks)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(x => s.Id);
                    </th>
                    <th>
                        @Html.DisplayFor(x => s.Worker.FirstName);
                    </th>
                    <th>
                        @Html.DisplayFor(x => s.Worker.LastName);
                    </th>

                    <th>
                        @foreach (var service in s.Services)
                        {
                            @Html.DisplayFor(x => service.Service.Name)
                            ;
                        }
                    </th>

                    <th>
                        <a asp-action="AddDeskService" asp-route-id="@s.Id">Add Service</a>
                    </th>
                    <th>
                        <a asp-action="RemoveDeskService" asp-route-id="@s.Id" method="post">Remove Service</a>
                    </th>
                    <th>
                        <a asp-action="Edit" asp-route-id="@s.Id">Edit</a>
                    </th>
                    <th>
                        <a asp-action="Delete" asp-route-id="@s.Id" method="post">Delete</a>
                    </th>

                </tr>
            }
        </tbody>
    </table>
}