@model AllDesksQueryModel

<form method="get">
    <div class="form-group col-md-3">
        <label asp-for="SearchTerm">Търси по</label>
        <input asp-for="SearchTerm" class="form-control" placeholder="...">
    </div>
    <div class="col-md-3">
        <div class="form-group mt-4 p-2"> <input type="submit" value="Търси" class="btn btn-primary" /></div>
    </div>
</form>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Add">Добави ново бюро</a>
    </p>
}


@if (Model.Desks.Count() == 0)
{
    <h3>Няма подходящи бюра</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Първо име на работник</th>
                <th>Фамилия на работник</th>

                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.Desks)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(x => s.Id);
                    </th>
                    <th>
                        @Html.DisplayFor(x => s.Worker.FirstName);
                    </th>
                    <th>
                        @Html.DisplayFor(x => s.Worker.LastName);
                    </th>

                    <th>
                        @foreach (var service in s.Services)
                        {
                            @Html.DisplayFor(x => service.Service.Name)
                            ;
                        }
                    </th>

                    <th>
                        <a asp-action="AddDeskService" asp-route-id="@s.Id">Добави услуга</a>
                    </th>
                    <th>
                        <a asp-action="RemoveDeskService" asp-route-id="@s.Id" method="post">Премахни услуга</a>
                    </th>
                    <th>
                        <a asp-action="Delete" asp-route-id="@s.Id" method="post">Изтрий бюро</a>
                    </th>

                </tr>
            }
        </tbody>
    </table>
}