@model IEnumerable<TaxSystem.Data.Request>

@{
    ViewData["Title"] = "Мойте заявки";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="All" asp-route-completed="true">Завършени</a>
</p>
<p>
    <a asp-action="All" asp-route-completed="false">Незавършени</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Име на услугата</th>
            <th>Време на започване</th>
            <th>Номер на бюро</th>
            <th>Зав</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desk.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" method="post">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>
