@model IEnumerable<TaxSystem.Data.Request>

@{
    ViewData["Title"] = "My requests";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="All" asp-route-completed="true">Completed</a>
</p>
<p>
    <a asp-action="All" asp-route-completed="false">Not completed</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desk.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" method="post">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
