@model AllUsersQueryModel

<hr />

<form method="get">
        <div class="form-group col-md-3">
            <label asp-for="SearchTerm">Търси по</label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>
        <div class="form-group col-md-3">
            <label asp-for="RoleName"></label>
            <input asp-for="RoleName" class="form-control" placeholder="...">
        </div>
        <div class="col-md-3">
            <div class="form-group mt-4 p-2"> <input type="submit" value="Търси" class="btn btn-primary" /></div>
        </div>
    </div>

</form>


@if (Model.Users.Count() == 0)
{
    <div>Няма потребители.</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Потребителско име</th>
                <th>Първо име</th>
                <th>Фамилия</th>
                <th>Имейл</th>
                <th>Телефонен номер</th>
                <th>Роля</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(x => user.UserName)
                    </th>
                    <th>
                        @Html.DisplayFor(x => user.FirstName)
                    </th>
                    <th>
                        @Html.DisplayFor(x => user.LastName)
                    </th>
                    <th>
                        @Html.DisplayFor(x => user.Email)
                    </th>
                    <th>
                        @Html.DisplayFor(x => user.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayFor(x => user.RoleName)
                    </th>
                    <th>
                        <a asp-action="Edit" asp-route-id="@user.Id">Редактирай</a>
                    </th>
                    <th>
                        <a asp-action="Delete" asp-route-id="@user.Id" method="post">Изтрий</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}