@model AllServicesQueryModel

<hr />

<form method="get">
    <div class="form-group col-md-3">
        <label asp-for="SearchTerm">Търси по</label>
        <input asp-for="SearchTerm" class="form-control" placeholder="...">
    </div>
    <div class="col-md-3">
        <div class="form-group mt-4 p-2"> <input type="submit" value="Търси" class="btn btn-primary" /></div>
    </div>
</form>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Add">Добави нова услуга</a>
    </p>
}

@if (Model.Services.Count() == 0)
{
    <h3>there are no services available</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Необходимо време</th>
                <th>Бюро</th>
                <th>Първо име на работника</th>
                <th>Фамилия на работника</th>

                @if (User.IsInRole("Admin"))
                {
                    <th></th>
                    <th></th>
                }

            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.Services)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(x => s.Name);
                    </th>
                    <th>
                        @Html.DisplayFor(x => s.Description);
                    </th>
                    <th>
                        @Html.DisplayFor(x => s.RequiredMinutes);
                    </th>

                    <th>
                        @foreach (var id in s.DeskIds)
                        {
                            @Html.DisplayFor(x => id)
                            ;
                        }
                    </th>

                    <th>

                        @foreach (var item in s.WorkerFirstNames)
                        {
                            @Html.DisplayFor(x => item)
                            ;
                        }
                    </th>

                    <th>
                        @foreach (var item in s.WorkerLastNames)
                        {
                            @Html.DisplayFor(x => item)
                            ;
                        }
                    </th>

                    @if (User.IsInRole("Admin"))
                    {
                        <th>
                            <a asp-action="Edit" asp-route-id="@s.Id">Обработи</a>
                        </th>
                        <th>
                            <a asp-action="Delete" asp-route-id="@s.Id" method="post">Изтрий</a>
                        </th>
                    }

                </tr>
            }
        </tbody>
    </table>
}